{% extends "oj_base.html" %}
{% block css_block %}
    <link href="/static/css/simditor/simditor.css" rel="stylesheet">
{% endblock %}
{% block title %}
    讨论区
{% endblock %}
{% block body %}
    {% load problem %}
    <div class="container main">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div class="row">
                    <div class="right">
                        <form class="form-inline" method="get" action="/announcement/">
                            <div class="form-group-sm">
                                <input name="keyword" class="form-control" value="{{ keyword }}" placeholder="请输入关键词">
                                <input type="submit" value="搜索" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>主题</th>
                            <th>发言人</th>
                            <th>最后更新时间</th>
                            <th>评论数</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if announcements %}
                            {% for item in announcements %}
                                <tr>
                                    <th scope="row">{{ item.id }}</th>
                                    <td><a href="/announcement/{{ item.id }}/">{{ item.title }}</a></td>
                                    <td>{{ item.created_by }}</td>
                                    <td>{{ item.last_update_time }}</td>
                                    <td>{{ item.comment_number }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pager">
                            {% if previous_page %}
                                <li class="previous"><a
                                        href="/announcement/{{ previous_page }}/{% if keyword %}?keyword={{ keyword }}{% endif %}">
                                    <span aria-hidden="true">&larr;</span> 上一页</a></li>
                            {% endif %}
                            {% if next_page %}
                                <li class="next"><a
                                        href="/announcement/{{ next_page }}/{% if keyword %}?keyword={{ keyword }}{% endif %}">下一页
                                    <span
                                            aria-hidden="true">&rarr;</span></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <form id="announcement-form">
                    <div class="form-group">
                        <label>标题</label>
                        <input name="title" type="text" class="form-control" id="title" placeholder="公告标题"
                               data-error="请填写公告标题(标题不得超过50字)" maxlength="50" required>

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label>内容</label>
                        <ms:editor $id="createAnnouncementEditor" config="createAnnouncementEditor"></ms:editor>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">发布公告</button>
                    </div>
                </form>
            </div>

            <div class="col-md-3 col-lg-3">
                {% include "oj/announcement/_announcement_panel.html" %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                            分类
                        </h3>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block js_block %}
    <script src="/static/js/app/admin/announcement/announcement.js"></script>
{% endblock %}